.awesome-books h1 {
  text-align: center;
}

.addBookForm {
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 10px;
  text-align: center;
  margin: 0 auto;
}

.booksDiv {
  margin-bottom: 10px;
}
